<ion-content class="tutorial-page">

    <div padding-top text-end>
        <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward">Saltar
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>


    <ion-slides pager=true>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/task/undraw_note_list_etto.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Bienvenido a Mi AgenditApp</h2>
                        <p>Olvidate de esos molestos posticks que dejas por cualquier lugar o esas molestas notas que dejas en el chat de tu ex que bloqueaste</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/task/undraw_process_e90d.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Mi agentidApp es unica</h2>
                        <p>Con mi agentidApp podras organizar mejor tus tareas desde las mas a las menos importantes con un diseño unico ;)</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/task/undraw_taking_notes_tjaf.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>¿Estas listo?</h2>
                        <ion-button expand="block" fill="clear" [routerLink]="'/login/'" routerDirection="forward">Comenzar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


    </ion-slides>


</ion-content>