<ion-content class="tutorial-page">

    <div padding-top text-end>
        <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward">Saltar
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>


    <ion-slides pager=true>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/slides/browser.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/slides/payment.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/slides/present.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/slides/support.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Titulo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/slides/present.png" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>¿Estas listo?</h2>
                        <ion-button expand="block" fill="clear" [routerLink]="'/login/'" routerDirection="forward">Comenzar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


    </ion-slides>


</ion-content>